#root {
  margin: 0px;
}

#header-section {
  background-color: rgb(83, 83, 83);
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100vw;
  padding: 0px 0px 5px 0px;
}

#header-section p, #scoreboard-section p {
  margin: 0px;
}

#header {
  font-size: 40px;
}

#description {
  font-size: 20px;
}

#overallLayout {
  display: flex;
  flex-direction: column;
}

#scoreboard-section {
  display: flex;
  font-size: 20px;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  font-weight: 600;
  background-color: rgb(131, 131, 131);
}

#memoryboard-section {
  background-color: rgb(190, 190, 190);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}


.card {
  width: 240px;
  height: 180px;
  background-color: rgb(236, 69, 69);
  border: 1px solid #ccc;
  justify-self: center;
}
